
#tbl{
  font-family: sans-serif; 
  padding: 10px; 
  margin: auto; 
  border-radius: 1.5rem; 
  background: white; 
  box-shadow: 5px 10px 15px gray; 
  width: 480px;
  height: 390px;
}
.container{
  font-family: sans-serif; 
  padding: 10px; 
  margin: auto; 
  border-radius: 1.5rem; 
  width: 480px;
  height: 390px;
}
h3{
  align-items: center;
  padding: 10px;
}
#btn{
  background-color: #ffd5da; 
  color: black;
  padding: 10px; 
  font-family:'Times New Roman', Times, serif;
  font-size: 1.2rem;
  border: none; 
  box-shadow: 5px 10px 15px;
  border-radius: 5px;
}

#btn:hover{
  background-color: rgb(223, 105, 105);
  color: rgb(10, 0, 0);
}
#score-card{
  text-align: center; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem; 
  padding: 10px; 
  margin: auto; 
  border-radius:2rem ;
  background: white;
  box-shadow: 5px 10px 15px gray;
  width: 480px;
  height: 390px;
  position: absolute;
  top: 5px;
}
#congrats{
  display: none;
  width: 450px; 
  height: 360px; 
  z-index: -1;
}
.break{
  text-align: center; 
  z-index: 999; 
  position: relative; 
  top: 20px;
}
#score{
  text-align: center; 
  color: green;
}
#zero{
  display: none;
  font-size: 1.9rem;
  width: 450px; 
  height: 360px; 
  z-index: -1;
}
span{
  list-style-type: decimal;
}